<h1><%= @wiki.title %></h1>

<div class="row">
  <div class="col-md-8">
    <p><%= markdown(@wiki.body) %></p>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-sm-12">
        <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
        <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <%= form_for [@wiki, Collaborator.new] do |f| %>
              <%= f.select :user_id, @available_collaborators.collect{|c| [c.email, c.id]}, { include_blank: true } %>
              <%= f.submit 'Add Collaborator' %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h3>Existing Collaborators</h3>
            <% @collaborators.each do |c| %>
              <%= c.user.email %>
              <%= link_to "Remove", wiki_collaborator_path(@wiki, c), method: :delete, class: 'btn', data: {confirm: 'Are you sure?'} %>
            </br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
